<div class="grid-container">
  <mat-grid-list [cols]="cols | async" rowHeight="315px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title | titlecase}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content" *ngIf="serverData.length > 0">
          <div *ngIf="card.type === 'chart-line'">
            <app-chart-line-card [selectedCoins]="selectedCoins"></app-chart-line-card>
          </div>
          <div *ngIf="card.type === 'chart-bar'">
            <app-chart-bar-card></app-chart-bar-card>
          </div>
          <div *ngIf="card.type === 'chart-pie'">
            <app-chart-pie-card [data]="serverData" [pieChartLabels]="selectedCoins"></app-chart-pie-card>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>