<div *ngIf="cards | async" class="grid-container">
  <mat-grid-list [cols]="cols | async" rowHeight="15vh">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title | titlecase}} {{chartTitle[card.type]}}

            <app-chart-menu [card]="card" [currencies]="currencies" [selectedCoins]="selectedCoins"
              (changeChart)="handleMenuChange($event)">
            </app-chart-menu>

          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content" *ngIf="data.length > 0">

          <div *ngIf="card.type === 'line'">
            <app-chart-line-card [selectedCoins]="selectedCoins" [coinToDelete]="coinToDelete"
              [currentCurrency]="chartTitle.line">
            </app-chart-line-card>
          </div>
          <div *ngIf="card.type === 'doughnut'"> 
            <!-- <app-chart-bar-card></app-chart-bar-card> -->
            <app-chart-doughnut-card></app-chart-doughnut-card>
          </div>
          <div *ngIf="card.type === 'pie'">
            <app-chart-pie-card [data]="data" [currentCurrency]="chartTitle.pie">
            </app-chart-pie-card>
          </div>
          <div *ngIf="card.type === 'history'">
            <app-chart-line-history></app-chart-line-history>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>