.row {
  padding: 3%;
  margin: 0;
  color: white;
  font-size: 20px;
}

.coin-card {
  padding: 1%;
}

.coin-data {
  padding: 1%;
  border-radius: 25px;
  background-color: rgba($color: #71c9db, $alpha: 0.4);
}

// app-coins-item-skelton {
//   width: 100%;
//   height: 100%;
// }
