<div class="row" *ngIf="((searchEntries | async).length === 0); else searchBlock">
  <div class="col-xl-3 col-lg-3 coin-card" *ngFor="let coin of coins">
    <div class="coin-data">
      <app-coins-item [coin]="coin"></app-coins-item>
      <app-coins-expend-panel [coin]="coin"></app-coins-expend-panel>
    </div>
  </div>
</div>
<ng-template #searchBlock>
  <div class="row">
    <div class="col-xl-3 col-lg-3 coin-card" *ngFor="let coin of searchEntries | async">
      <div class="coin-data">
        <app-coins-item [coin]="coin"></app-coins-item>
        <app-coins-expend-panel [coin]="coin"></app-coins-expend-panel>
      </div>
    </div>
  </div>
</ng-template>