<mat-list>
  <div mat-subheader>Selected Coins</div>

  <mat-list-item disableRipple="true" *ngFor="let coin of selectedCoins">
    <mat-grid-list cols="2" rowHeight="3vh">
      <mat-grid-tile>{{coin.symbol |uppercase}}</mat-grid-tile>
      <mat-grid-tile>
        <mat-slide-toggle (change)="handleToggle(coin)" [checked]="true">
        </mat-slide-toggle>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-divider></mat-divider>
  </mat-list-item>
  <mat-list-item (click)="deleteCoins()">
    <div mat-line> Delete All</div>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>