<mat-accordion>
  <mat-expansion-panel
    (opened)="onExpandChanged(true)"
    (closed)="onExpandChanged(false)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> {{ coin.symbol | uppercase }} </mat-panel-title>
      <mat-panel-description
        >{{ coin.name | titlecase }}
        <mat-slide-toggle
          color="primary"
          [name]="coin.id"
          [checked]="checked()"
          (change)="onToggleChanged($event)"
          (click)="$event.stopPropagation()"
        >
        </mat-slide-toggle>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="coin-currency-wrapper">
      <ng-container>
        <section class="coin-currency">
          <ng-container *ngFor="let item of currency | keyvalue">
            <app-typography>
              {{ item.key | uppercase }} : {{ item.value }}</app-typography
            >
          </ng-container>
        </section>
      </ng-container>
      <section>
        <img [ngSrc]="coin.image" alt="" width="100" height="100" />
      </section>
    </div>
  </mat-expansion-panel>
</mat-accordion>
