<mat-accordion>
  <mat-expansion-panel
    (opened)="onExpandChanged(true)"
    (closed)="onExpandChanged(false)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> {{ coin.symbol | uppercase }} </mat-panel-title>
      <mat-panel-description
        >{{ coin.name | titlecase }}
        <mat-slide-toggle
          (change)="onToggleChanged($event)"
          color="primary"
          (click)="$event.stopPropagation()"
        >
        </mat-slide-toggle>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-container *ngIf="currency">
      <app-coins-info [currency]="currency" [url]="coin.image"></app-coins-info>
    </ng-container>
  </mat-expansion-panel>
</mat-accordion>
