@use "variables" as main;

mat-expansion-panel {
  @include main.coin-panel(main.color(coin-panel), 1);
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

div.coin-currency-wrapper {
  display: flex;
}

section.coin-currency {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  app-typography {
    margin: 1%;
  }
}
