@mixin coin($color, $alpha) {
  padding: 1%;
  border-radius: 25px;
  background-color: rgba($color, $alpha);
}

cdk-virtual-scroll-viewport, virtual-scroller {
  height: 75vh;
  width: 100%;
}

.coins-container {
  padding: 2%;

  .row {
    margin: 0;
    color: white;
    font-size: 20px;
  }

  .row-viewport {
    height: 75vh;
    overflow: auto;
  }
}

.coin-card {
  padding: 1%;
  display: inline-block;
}

.coin-data-start {
  @include coin(grey, 0.4);
}

.coin-data-middle {
  @include coin(#71c9db, 0.4);
  transition: background-color 2s;
}

.coin-data-complete {
  @include coin(#71c9db, 0.6);
  transition: background-color 2s;
}

// from 560px down

@media (max-width: 600px) {
  virtual-scroller {
    height: 85vh;
    width: 100%;
  }
}
