<!-- SEARCH RESULTS GRID -->
<div class="coins-container">

  <!-- <div *ngIf="searchMode;" [ngClass]="{'row' : true, 'row-viewport' : !(isMobile | async)}">
    <div class="col-xl-3 col-lg-3 coin-card" *ngFor="let coin of searchEntries | async">
      <div [ngClass]="{
        'coin-data-start' :(progress < 15), 
        'coin-data-middle' :(progress > 15), 
        'coin-data-complete' :(progress === 100), 
        'mat-elevation-z2' : true}">
        <app-coins-item [loader]="loader" [coin]="coin"></app-coins-item>
        <app-coins-expend-panel *ngIf="!loader" [coin]="coin"></app-coins-expend-panel>
      </div>
    </div>
  </div> -->

  <!-- MAIN COINS GRID -->
  <cdk-virtual-scroll-viewport itemSize="75vh">
     
    <div [ngClass]="{'row' : true, 'row-viewport' : !(isMobile | async)}">
      <div class="col-xl-3 col-lg-3 coin-card" *ngFor="let coin of coins">
        <div [ngClass]="{
            'coin-data-start' :(progress < 15), 
            'coin-data-middle' :(progress > 15), 
            'coin-data-complete' :(progress === 100), 
            'mat-elevation-z2' : true}">
          <app-coins-item [loader]="loader" [coin]="coin"></app-coins-item>
          <app-coins-expend-panel *ngIf="!loader" [coin]="coin"></app-coins-expend-panel>
        </div>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>

</div>

<!-- <div class="row" *ngIf="coins.length === 0 && (searchEntries | async).length === 0">
  No match fo this search
</div> -->