@mixin coin-card($color, $alpha) {
  border-radius: 2px;
  background-color: rgba($color, $alpha);
}

cdk-virtual-scroll-viewport,
virtual-scroller {
  height: 74vh;
  width: 100%;
}

.coins-container {
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 3%;

  .row {
    margin: 0;
    color: white;
    font-size: 20px;
  }

  .row-viewport {
    height: 74vh;
    overflow: auto;
  }
}

.coin-card {
  padding: 1%;
  display: inline-table;
}

.coin-data-start {
  @include coin-card(grey, 0.4);
}


.coin-data-complete {
  animation: coin-complete 2s;
  @include coin-card(#71c9db, 0.5);
}


@keyframes coin-complete {
  0% {
    @include coin-card(grey, 0.4);
  }
  50% {
    @include coin-card(#71c9db, 0.4);
  }
  100% {
    @include coin-card(#71c9db, 0.5);
  }
}
.row-btn {
  padding-top: 1%;
  text-align : right;
  z-index: 10;
}

// from 560px down

@media (max-width: 600px) {
  virtual-scroller {
    height: 78vh;
    width: 100%;
  }
  .row-btn {
    padding-top: 3%;
  }
}

