mat-toolbar {
  height: 12vh !important;

  form {
    width: inherit;
  }

  .mat-form-field {
    width: 80%;
    margin-top: 25px;
  }
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  height: inherit;

  app-coins-search-item {
    width: 100%;
    height: 100%;
  }
}

div.search {
  height: 86vh;
  flex: 1 1 0%;
  margin: 0px;
  display: flex;
  padding: 16px 16px 56px;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  div.img {
    margin-bottom: 5%;
  }

  div.text {
    width: 100%;
    text-align: center;
    span.text {
      font-size: 16px;
      font-family: Roboto, sans-serif;
      font-weight: 500;
      line-height: 1.5;
      z-index: 10;
      color: black;
    }
  }
}
