@import "~src/styles/styles";

div {
  text-align: right;
}

@mixin search-input($width) {
  color: white;
  font-size: 20px;
  width: $width;
  transition: width 1s;
}

.mat-form-field {
  padding-right: 15px;
  @include search-input(0);
}

.show {
  @include search-input(90%);
}

.search-form {
  width: 100%;
  font-size: 16px;
  padding-top: 15px;
}
