<div >
  <mat-form-field [ngClass]="{'search-input' : true, 'show' : toggleSearch}">
      <mat-label>Please Enter Query</mat-label>
      <input type="text" style="caret-color: white" placeholder="Search Coins..." matInput #searchInput
        [formControl]="searchControl">
      <span *ngIf="(searchEntries |async).length > 0 && toggleSearch" class="matsuffix" matSuffix>
        Found {{(searchEntries |async).length}} results</span>
      <span *ngIf="results && toggleSearch" class="matsuffix" matSuffix>Found 0 results</span>
    </mat-form-field>
    <button mat-icon-button *ngIf="!(isMobile | async)" (click)="handleToggleSearch()">
      <mat-icon>search</mat-icon>
    </button>
</div>