<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav-search"
    position="end"
    mode="side"
    autosize
  >
  </mat-sidenav>
  <!-- <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav> -->
  <mat-sidenav-content>
    <ng-container *ngIf="showToolbar()">
      <mat-toolbar color="primary">
        <app-toolbar></app-toolbar>

        <button mat-icon-button type="button" (click)="drawer.toggle()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-toolbar>
    </ng-container>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
