<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav-search"
    position="end"
    mode="side"
    autosize
  >
  <app-search-sidenav></app-search-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-container *ngIf="showToolbar()">
      <mat-toolbar color="primary">

        <section>
          <button type="button" aria-label="Toggle sidenav" mat-icon-button>
            <mat-icon aria-label="Side nav toggle icon" fontIcon="menu"></mat-icon>
          </button>
        </section>

        <section>
          <button mat-icon-button type="button" [matMenuTriggerFor]="menu">
            <mat-icon
              [matBadge]="selectedCoinBudge()"
              matBadgeColor="accent"
              fontIcon="monetization_on"
            >
            </mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <ng-template matMenuContent> </ng-template>
          </mat-menu>

          <button mat-icon-button type="button" (click)="drawer.toggle()">
            <mat-icon>search</mat-icon>
          </button>
        </section>

      </mat-toolbar>
    </ng-container>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
