<mat-grid-list class="grid-mobile" cols="1" rowHeight="22vh">
  <mat-grid-tile [rowspan]="(isMobile | async) ? 1 : 2"
    [ngClass]="{'mat-display-4' : true, 'text-header' : !( isMobile | async)}">
    Cryptocurency
  </mat-grid-tile>
  <mat-grid-tile [ngClass]="{'mat-display-3' : true, 'text-header' : !( isMobile | async)}">
    Explore the world of crypto coins!
  </mat-grid-tile>
  <mat-grid-tile>
    <button class="btn-mobile" mat-stroked-button routerLink="/coins/list">Get Started</button>
  </mat-grid-tile>
</mat-grid-list>