<mat-grid-list cols="2" rowHeight="2vh">
  <mat-grid-tile colspan="2">
  </mat-grid-tile>
  <mat-grid-tile *ngIf="coin" rowspan="3" class="text-coin-header">{{coin.symbol | uppercase }}</mat-grid-tile>
  <mat-grid-tile *ngIf="loader" rowspan="3" class="skeleton-header">
    <ngx-skeleton-loader animation="progress" count="1" appearance="line"></ngx-skeleton-loader>
  </mat-grid-tile>
  <mat-grid-tile rowspan="3">
    <mat-slide-toggle *ngIf="coin" [checked]="checked" (change)="handleToggle($event)" color="primary">
    </mat-slide-toggle>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="loader" rowspan="3" class="text-skeleton-toggle">
    <ngx-skeleton-loader class="skeleton-toggle" animation="progress" count="1" appearance="line">
    </ngx-skeleton-loader>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="coin" rowspan="3" colspan="2" class="text-coin">{{coin.id}}</mat-grid-tile>
  <mat-grid-tile *ngIf="loader" rowspan="3" colspan="2" class="skeleton-text">
    <ngx-skeleton-loader count="3" appearance="line"></ngx-skeleton-loader>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
  </mat-grid-tile>
</mat-grid-list>