<mat-grid-list [cols]="dialog ? 5 : 1" [rowHeight]="dialog ? '6vh' : '8vh'">
  <mat-grid-tile *ngFor="let coin of selectedCoins" @fade (click)="$event.stopPropagation()">
    <app-coins-toggle
    [dialog]="dialog"
    [coin]="coin"
    [checked]="checked"
    [lastSelect]="lastSelect"
    [dialogRef]="dialogRef">
    </app-coins-toggle>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="!dialog && selectedCoins.length > 1" (click)="$event.stopPropagation()">
    <button (click)="unSelectAll($event)" color="primary" mat-button>Unselect All</button>
  </mat-grid-tile>
</mat-grid-list>
