.text-header > figure.mat-figure {
  justify-content: flex-start;
  padding: 5%;
}

.text-coin-header > figure.mat-figure {
  justify-content: flex-start;
  padding-left: 15%;
}

.text-coin > figure.mat-figure {
  justify-content: flex-start;
  padding-left: 10%;
}

.text-length > figure.mat-figure {
  justify-content: flex-start;
  padding-left: 5%;
  font-size: 15px;
}

.text-search-mobile > figure.mat-figure {
  font-size: 12px;
}

.coin-toggle > figure.mat-figure {
  padding: 20px;
  justify-content: flex-end;
}

// SKELETON

.text-skeleton-toggle > figure.mat-figure {
  justify-content: flex-end;
}

.skeleton-text > figure.mat-figure {
  justify-content: flex-start;
}

.text-name > figure.mat-figure {
  font-size: 14px;
}
