
$colors: (
  info: #5bc0de,
  text-primary: #673ab7,
  text-secondary: #8c52f0,
  success-primary: #56c04d,
  success-secondary: #1d8813,
  paper : #ffffff
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 840px,
  lg: 992px,
  xl: 1200px,
);


@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function size($breakpoints) {
  @return map-get($grid-breakpoints, $breakpoints);
}

@mixin bg-image($url) {
  background-image: url($url) !important;
  background-position: center !important;
  background-size: cover !important;
}

@mixin section-image($url) {
  background-image: url($url) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.highLight {
  color: color(text-primary);
  font-weight: bolder;
}
