@import "~src/styles/styles";

mat-icon {
  color: white;
  font-size: 16px;
}

.drawer-container {
  background-color: transparent;
  width: 500px;
  height: 60px;
}

.drawer-sidenav {
  color: white;
  background-color: transparent;
  width: 500px;
  height: 60px;
  padding-top: 2%;
}
