@import "~src/styles/styles";

mat-nav-list {
  display: flex;

  mat-list-item {
    width: 75px;

    &:hover {
      background-color: transparent;
    }
  }
}

mat-icon {
  color: white;
  font-size: 16px;
}

// from 560px down

@media (max-width: size(sm)) {

  mat-nav-list > mat-list-item {
    width: 50px;
  }
}
