<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      {{card.title | titlecase}} {{card.currentCurrency}}

      <app-chart-menu [card]="card" [currencies]="currencies" [selectedCoins]="selectedCoins"
        (changeCurrency)="handleCurrencyChange($event)" (changeCoin)="handleCoinChange($event)">
      </app-chart-menu>

    </mat-card-title>
  </mat-card-header>

  <mat-card-content class="dashboard-card-content" *ngIf="chartData$ | async as data">

    <span [ngSwitch]="card.type">
      <ng-container *ngSwitchCase="'line'">
        <app-chart-line-card [card]="card" [selectedCoins]="selectedCoins" [coinToDelete]="coinToDelete">
        </app-chart-line-card>
      </ng-container>

      <ng-container *ngSwitchCase="'pie'">
        <app-chart-pie-card [data]="data.usd" [currentCurrency]="card.currentCurrency">
        </app-chart-pie-card>
      </ng-container>

      <ng-container *ngSwitchCase="'history'">
        <app-chart-line-history [currentCurrency]="card.currentCurrency"></app-chart-line-history>
      </ng-container>
    </span>



  </mat-card-content>
</mat-card>
