.chart {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .chart {
    width: 95%;
    // height: 50%;
    margin: auto;
    display: flex;
    vertical-align: middle;
    justify-content: center;
  }
}
