@import "~src/styles/styles";

.sidenav-container {
  height: 100%;
  background-color: transparent;
}

.mat-drawer.mat-sidenav.sidenav {
  height: inherit;
  z-index: 50;
}

.mat-toolbar.mat-primary {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 5;
  height: 10vh;
}

.sidenav {
  width: 400px;
}

app-coins-search {
  width: 60vh;
  margin-top: 18px;
  z-index: 5;
  color: white;
}

app-coins-nav-search {
  height: 100%;
  width: 100%;
}

.fade-in {
  animation : fade-in 4s;
}

.fade-out {
  animation : fade-out 4s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


// from 560px down

@media (max-width: size(sm)) {

  .mat-toolbar.mat-primary {
    height: 10vh;
  }
  
  app-coins-nav {
    height: 100%;
    width: 100%;
  }
 
  .sidenav {
    width: 100%;
  }
    
}



