<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport position="end" mode="'slide'" autosize>
    <app-coins-search [drawer]="drawer"></app-coins-search>
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <app-coins-nav></app-coins-nav>
      <span class="spacer"></span>
      <button class="btn-search" mat-icon-button type="button" (click)="drawer.toggle()">
        <mat-icon mat-list-icon>search</mat-icon>
      </button>
    </mat-toolbar>

    <app-coins-drawer>
      <ng-content></ng-content>
    </app-coins-drawer>


  </mat-sidenav-content>

</mat-sidenav-container>