@import "~src/styles/styles";

.sidenav-container {
  height: 100%;
  background-color: transparent;
}

.mat-drawer.mat-sidenav.sidenav {
  height: inherit;
  z-index: 50;

  mat-icon {
    color: black;
    font-size: 30px;
  }
}

.mat-toolbar.mat-primary {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 5;
  height: 10vh;
}

.sidenav {
  width: 100%;
}

mat-icon {
  color: white;
  font-size: 30px;
}

app-coins-search {
  width: 60vh;
  margin-top: 18px;
}

app-coins-nav-search {
  height: 100%;
  width: 100%;
}

.mat-list-base .mat-list-item .mat-line,
mat-icon {
  color: white;
  font-size: 30px;
}

@media (min-width: size(md)) {

  mat-toolbar {
    mat-nav-list {
      display: flex;
      color: white;

      mat-list-item {
        color: white;
        font-size: 20px;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}

// from 560px down

@media (max-width: size(sm)) {

  mat-nav-list {
    display: flex;
    color: black;

    mat-list-item {
      color: black;
      font-size: 20px;
    }
  }
}
