@import "~src/styles/styles";

.sidenav-container {
  height: 100%;
  background-color: transparent;
}

.mat-drawer.mat-sidenav.sidenav {
  height: inherit;
  z-index: 50;

}

.mat-toolbar.mat-primary {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 5;
  height: 10vh;
}

.sidenav {
  width: 100%;
}

app-coins-search {
  width: 60vh;
  margin-top: 18px;
}

app-coins-nav-search {
  height: 100%;
  width: 100%;
}



