<mat-sidenav-container class="sidenav-container">


  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="'navigation'" [mode]="'over'" [opened]="false">
    <mat-toolbar>
      <span>Menu</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="drawer.toggle(false)">
        <mat-icon aria-label="Side nav toggle icon">keyboard_arrow_left</mat-icon>
      </button>
    </mat-toolbar>
    <mat-list>
      <mat-list-item>Selected Coins:</mat-list-item>
      <mat-list-item *ngFor="let coin of selectedCoins">{{coin |uppercase}}</mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav #searchDrawer class="sidenav" fixedInViewport [attr.role]="'navigation'" [mode]="'over'" [opened]="false"
    [position]="'end'">
    <app-coins-nav-search [drawer]="searchDrawer"></app-coins-nav-search>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button class="menu" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isMobile | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-nav-list *ngIf="(isMobile | async); else elseBlock">
        <button mat-icon-button type="button" cdkFocusInitial routerLink="{{route.route}}"
          *ngFor="let route of routers">
          <mat-icon mat-list-icon>{{route.icon}}</mat-icon>
        </button>
      </mat-nav-list>
      <ng-template #elseBlock>
        <mat-nav-list class="select-coins">
          <button mat-button type="button" routerLink="{{route.route}}" *ngFor="let route of routers">
            <mat-list-item>
              <mat-icon mat-list-icon>{{route.icon}}</mat-icon>
              <div mat-line>{{route.label}}</div>
            </mat-list-item>
          </button>
          <mat-list-item>Selected Coins:</mat-list-item>
          <mat-list-item *ngFor="let coin of selectedCoins">{{coin |uppercase}}</mat-list-item>
        </mat-nav-list>
      </ng-template>


      <span class="spacer"></span>
      <app-coins-search [drawer]="searchDrawer"></app-coins-search>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>