<mat-grid-list cols="3" rowHeight="2vh">

  <mat-grid-tile colspan="3"></mat-grid-tile>

  <!-- line -->
  <mat-grid-tile *ngIf="coin && !loader && coin.symbol.length < 30" class="text-coin-header" colspan="2" rowspan="4"
    appTextSize [length]="coin.symbol.length">
    {{coin.symbol | uppercase }}</mat-grid-tile>

  <mat-grid-tile *ngIf="coin && !loader && coin.symbol.length > 30" colspan="2" rowspan="4" class="text-coin"
    appTextSize [length]="coin.symbol.length">
    {{coin.symbol | uppercase }}</mat-grid-tile>

  <mat-grid-tile *ngIf="loader" rowspan="3" class="skeleton-header">
    <ngx-skeleton-loader animation="progress" count="1" appearance="line"></ngx-skeleton-loader>
  </mat-grid-tile>


  <!-- toggle -->
  <mat-grid-tile *ngIf="coin && !loader" rowspan="3" class="coin-toggle">
    <mat-slide-toggle [checked]="checked" (change)="handleToggle($event)" color="primary">
    </mat-slide-toggle>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="loader" rowspan="3" class="text-skeleton-toggle">
    <ngx-skeleton-loader class="skeleton-toggle" animation="progress" count="1" appearance="line">
    </ngx-skeleton-loader>
  </mat-grid-tile>

  <!-- line -->
  <mat-grid-tile *ngIf="coin && !loader && coin.id.length < 30" rowspan="3" colspan="3" class="text-coin">{{coin.id}}
  </mat-grid-tile>
  <mat-grid-tile *ngIf="coin && !loader && coin.id.length > 30" rowspan="3" colspan="3" class="text-length">{{coin.id}}
  </mat-grid-tile>
  <mat-grid-tile *ngIf="loader" rowspan="3" colspan="3" class="skeleton-text">
    <ngx-skeleton-loader class="skeleton-line" count="1" appearance="line"></ngx-skeleton-loader>
  </mat-grid-tile>

  <!-- line -->


  <mat-grid-tile colspan="3"></mat-grid-tile>

</mat-grid-list>