mat-grid-list {
  // color: white;
  font-weight: 500;
  padding: 2%;
}

app-coins-panel {
  width: 280px;
}

ngx-skeleton-loader {
  padding: 20px;
  width: 100%;
  height: 100%;

  &.skeleton-toggle {
    width: 100%;
  }

  &.skeleton-line {
    width: 40%;
  }
}

app-coins-expend-panel {
  width: 90%;
}

.status {
  visibility: hidden;;
}
