<mat-grid-list cols="3" rowHeight="2vh">

  <mat-grid-tile colspan="3"></mat-grid-tile>

  <!-- line -->
  <mat-grid-tile *ngIf="coin && !loader" colspan="2" rowspan="4" [ngClass]="{
    'text-coin-header' : coin.symbol.length < 30,
    'text-coin' : coin.symbol.length > 30}" appTextSize [length]="coin.symbol.length">
    {{coin.symbol | uppercase }}
  </mat-grid-tile>

  <mat-grid-tile *ngIf="loader" colspan="2" rowspan="4" class="skeleton-header-tile">
    <ngx-skeleton-loader animation="progress" count="1" appearance="line"></ngx-skeleton-loader>
  </mat-grid-tile>


  <!-- toggle -->
  <mat-grid-tile *ngIf="coin && !loader" rowspan="3" class="coin-toggle">
    <mat-slide-toggle [checked]="checked" (change)="handleToggle($event)" color="primary">
    </mat-slide-toggle>
  </mat-grid-tile>

  <mat-grid-tile *ngIf="loader" rowspan="3" class="skeleton-toggle-tile">
    <ngx-skeleton-loader class="skeleton-toggle" animation="progress" count="1" appearance="line">
    </ngx-skeleton-loader>
  </mat-grid-tile>

  <!-- line -->
  <mat-grid-tile *ngIf="coin && !loader" rowspan="3" colspan="3"
    [ngClass]="{'text-coin' : coin.id.length < 30, 'text-length' : coin.id.length > 30}">
    {{coin.id | truncate:[30, '...']}}
  </mat-grid-tile>

  <mat-grid-tile *ngIf="loader" rowspan="3" colspan="3" class="skeleton-text-tile">
    <ngx-skeleton-loader class="skeleton-line" count="1" appearance="line"></ngx-skeleton-loader>
  </mat-grid-tile>

  <span class="status">opened</span>


  <mat-grid-tile *ngIf="loader" rowspan="4" colspan="3" class="skeleton-expend-tile">
    <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
  </mat-grid-tile>

</mat-grid-list>