<!-- SEARCH RESULTS GRID -->
<div class="row" *ngIf="((searchEntries | async).length > 0) && !loader; else searchBlock">
  <div class="col-xl-3 col-lg-3 coin-card" *ngFor="let coin of searchEntries | async">
    <div class="coin-data-complete">
      <app-coins-item [coin]="coin"></app-coins-item>
      <app-coins-expend-panel [coin]="coin"></app-coins-expend-panel>
    </div>
  </div>
</div>

<!-- MAIN COINS GRID -->
<ng-template #searchBlock>
  <div class="row">
    <div class="col-xl-3 col-lg-3 coin-card" *ngFor="let coin of coins">
      <div [ngClass]="{
        'coin-data-start' :(progress < 15), 
        'coin-data-middle' :(progress > 15), 
        'coin-data-complete' :(progress === 100), 
        'mat-elevation-z2' : true}">
        <app-coins-item [loader]="loader" [coin]="coin"></app-coins-item>
        <app-coins-expend-panel *ngIf="!loader" [coin]="coin"></app-coins-expend-panel>
      </div>
    </div>
  </div>
</ng-template>


<!-- <div class="row" *ngIf="coins.length === 0 && (searchEntries | async).length === 0">
  No match fo this search
</div> -->