@mixin coin($color, $alpha) {
  padding: 1%;
  border-radius: 25px;
  background-color: rgba($color, $alpha);
}

.coins-container {
  padding: 3%;

  .row {
    margin: 0;
    color: white;
    font-size: 20px;
  }

  .row-web {
    height: 75vh;
    overflow: auto;
  }
}

.coin-card {
  padding: 1%;
}

.coin-data-start {
  @include coin(grey, 0.4);
}

.coin-data-middle {
  @include coin(#71c9db, 0.4);
  transition: background-color 3s;
}

.coin-data-complete {
  @include coin(#71c9db, 0.5);
  transition: background-color 3s;
}

// from 560px down
