@mixin coin($color, $alpha) {
  padding: 1%;
  border-radius: 25px;
  background-color: rgba($color, $alpha);
}
.row {
  padding: 3%;
  margin: 0;
  color: white;
  font-size: 20px;
}

.coin-card {
  padding: 1%;
}

.coin-data-start {
  @include coin(grey, 0.4); 
}

.coin-data-middle {
  @include coin(#71c9db, 0.4);
  transition: background-color 3s;
}

.coin-data-complete {
  @include coin(#71c9db, 0.5);
  transition: background-color 3s;
}
