@use "variables" as main;

header {
  padding-top: main.spacing(1);
}

footer.mat-mdc-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .mat-display-2 {
    font-size: 35px;
  }
}
