<header mat-dialog-title>
  <app-typography [fontSize]="5">
    {{ title | titlecase }}
  </app-typography>
</header>

<mat-divider></mat-divider>

<main mat-dialog-content>
  <div class="coin-content-wrapper">
    <ng-container *ngFor="let item of selectedCoinsMap() | keyvalue">
      <div class="coin-toggle-wrapper">
        <app-typography [fontSize]="2">{{
          item.key | uppercase
        }}</app-typography>
        <mat-slide-toggle
          [checked]="item.value"
          (change)="onToggleChanged($event)"
          [name]="item.key"
        ></mat-slide-toggle>
      </div>
    </ng-container>
  </div>
</main>

<footer mat-dialog-actions>
  <button
    (click)="onSaveDialog()"
    mat-flat-button
    mat-dialog-close
    cdkFocusInitial
    [disabled]="disabledSave()"
  >
    Save Changes
  </button>
  <button mat-flat-button mat-dialog-close>Close</button>
</footer>
