@import "~src/styles/styles";

div {
  text-align: right;
}

@mixin search-input($width) {
  color: white;
  font-size: 20px;
  width: $width;
  transition: width 1s;
}

mat-option {
  color: black;
}

.mat-form-field {
  @include search-input(0);
}

// from 840px down
@media (min-width: size(md)) {
  .show {
    @include search-input(90%);
  }
}

// from 560px down
@media (max-width: size(sm)) {
  .show {
    @include search-input(80%);
  }
}
.search-form {
  width: 100%;
  font-size: 16px;
  padding-top: 15px;
}
