<div>
  <mat-grid-list cols="2" rowHeight="5vh">
    <mat-grid-tile rowspan="6">
      <mat-grid-list cols="2" rowHeight="5vh">
        <div *ngFor="let dot of data">
          <mat-grid-tile>
            {{dot.label}}
          </mat-grid-tile>
          <mat-grid-tile>
            {{dot.data | currency : dot.label  }}
          </mat-grid-tile>
        </div>
      </mat-grid-list>
    </mat-grid-tile>
    <mat-grid-tile  rowspan="6">
      <canvas baseChart 
      [data]="doughnutChartData" 
      [labels]="doughnutChartLabels" 
      [chartType]="doughnutChartType"
      [options]="doughnutChartOptions">
      </canvas>
    </mat-grid-tile>
  </mat-grid-list>
</div>