<mat-sidenav-container class="sidenav-container">
  <!-- <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
    </mat-nav-list>
  </mat-sidenav> -->
  <mat-sidenav-content>
    <mat-toolbar>
      <!-- <button class="menu" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button> -->
      <mat-nav-list *ngIf="(isHandset$ | async); else elseBlock">
        <button mat-icon-button type="button" cdkFocusInitial routerLink="{{route.route}}"
          *ngFor="let route of routers">
          <mat-icon mat-list-icon>{{route.icon}}</mat-icon>
        </button>
      </mat-nav-list>
      <ng-template #elseBlock>
        <mat-nav-list>
          <button mat-button type="button" routerLink="{{route.route}}" *ngFor="let route of routers">
            <mat-list-item>
              <mat-icon mat-list-icon>{{route.icon}}</mat-icon>
              <div mat-line>{{route.label}}</div>
            </mat-list-item>
          </button>
        </mat-nav-list>
      </ng-template>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>