.sidenav-container {
  height: 100%;
  background-color: transparent;
}

.sidenav {
  width: 200px;
}

.mat-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: 10vh;
  background: transparent;
  justify-content: center;
}

.mat-list-base .mat-list-item .mat-line,
mat-icon {
  color: white;
  font-size: 30px;
}

app-coins-search {
  width: 50vh;
}

button {
  font-size: x-large;
  padding: 2%;
  color: white;
  padding: 0px;
  background-color: rgba(#ffffff, 0.1);
  margin-left: 5%;
}

.sidenav .mat-toolbar {
  background-color: transparent;
}

.mat-toolbar.mat-primary {
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  button.menu {
    margin-left: 2%;
    background-color: transparent;
  }

  .mat-toolbar {
    justify-content: center;
  }

  button {
    margin-right: 5%;
    margin-right: 5%;
    margin-left: 0;
    font-size: 16px;
  }

  mat-icon {
    margin-right: 5px;
  }
}
